<!DOCTYPE html>
<meta charset="utf-8">
<style>
body {
  font: 12px sans-serif;
}

.node circle {
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.label-input {
  padding: 2px 0;
  width: 450px;
}

textarea {
  border-color: #ddd;
  height: 480px;
  padding: 2px 0;
  width: 450px;
  font-family: monospace;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

</style>
<body>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src="js-yaml.min.js"></script>
<div class="container">
  <h1 id="routing-tree-editor" class="page-header">
    Routing tree editor
  </h1>
  <div class="inline-block">
    <div>
      <label class="block">copy and paste your config.yml:</label>
      <textarea class="js-config-yml" cols="30" rows="10"></textarea>
      <button type="button" class="js-parse-and-draw block">draw tree</button>
    </div>
    <div>
      <input class="label-input js-label-set-input" type="text" placeholder='{service="foo-service", severity="critical"}' \>
      <button type="button" class="js-find-match block">find match</button>
    </div>
  </div>
</div>
<div class="js-svg inline-block">
</div>
<script src="script.js"></script>
</body>

