<!DOCTYPE html>
<meta charset="utf-8">
<style>

.node circle {
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.label-input {
  width: 450px;
  padding: 2px 0;
}

</style>
<body>
<script src="//d3js.org/d3.v3.min.js"></script>
<div>
  <input class="label-input" type="text" placeholder='{service="foo-service", severity="critical"}' \>
  <button type="button" class="js-find-match">find match</button>
</div>
<script src="script.js"></script>
</body>

